/* Style of Checkboxes */
<link href="css/magic-check.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-left: 10px;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #000; /* font - color in the whole application*/
}



/* CSS for ON/OFF flipswitch button */
.align_divs { 
	padding:10px; 
	text-align:left;
	width:20%; 
	float:left; 
} /*make sure that 2 DIVs are in the same line*/

.onoffswitch {
    position: relative; width: 56px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-left: 50px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 26px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #6C268A; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #948E8E; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 2px solid #FFFFFF; border-radius: 26px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/* CSS for Check Boxes */
#first {
  background-color: #4B4D65;
}
#mirror_id, #tv_id{
  background-color: #FFFFFF;
}
.mirror, .tv{
  padding: 10px;
  padding-left: 50px;
}
.mirror input[type="checkbox"], .tv input[type="checkbox"]{
  display: none;
}
.container {
  margin-bottom: 10px;
}
.container label {
  position: relative;
}

/* Base styles for spans */
.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.container span.checkbox::before {
  width: 15px;
  height: 15px;
  background-color: none;
  left: -33px;
  box-sizing: border-box;
  border: 1px solid #948E8E;
  transition: border-color .2s;
}
.container span.checkbox:hover::before {
  border: 3px solid #F0FF76;
}
.container span.checkbox::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  left: -35px;
  top: 2px;
  color: transparent;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #6C268A;
}


/* Button for music upload */
#button-file {
    color: #fff;
    font-weight: bold;
    border: 1px #999 solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #6C268A;
    padding: 10px 5px;
    margin-left: 10px;
}
#button-file:active {
    background-color: #6C268A;
}
#button-file:hover {
    cursor: pointer;
}



