<html lang="en">

   <head>
   
	<title>Calendar Integration App</title>

     <meta name="google-signin-scope" content="profile email">
     <meta name="google-signin-client_id" content="816369265139-0lmlpb4njr826utb58ic5r0g5atkl7li.apps.googleusercontent.com">
     <script src="https://apis.google.com/js/platform.js" async defer></script>
   </head>
   
<body>

<div>
	<div>
	
		<!----- TAB NAVIGATION BAR ------> 
	
		  <div class="w3-row" style="margin-top: 50px; margin-bottom: 30px;">
		  	<a href="javascript:void(0)" onclick="openTab(event, 'User');">
		      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-purple">User Login</div>
		    </a>
		    <a href="javascript:void(0)" onclick="openTab(event, 'Devices');">
		      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Device Functionalities</div>
		    </a>
	
		  </div>


			  <!----- User-Information TAB ------> 
	
			  <div id="User" class="w3-container city" >
				
				<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
		
			  
					<form action="action_page.php" id="login">
					     <div class="form_container">
					       <label>Google E-Mail</label>
					       <input type="text" placeholder="Enter E-Mail Address" name="email" required>
					    
					       <label>Password</label>
					       <input type="password" placeholder="Enter Password" name="pw" required>
					       
					       <input type="checkbox" id = "remember_me" checked="checked"><span class="checkbox">Remember me</span>    
					       <button type="submit">Login</button>
					     </div>
					</form>
					
					<div id="testdiv">
					</div>

							

		
			  </div>

	 		  <!----- Devices TAB ------> 
	
			  <div id="Devices" class="w3-container city" style="display:none">
		
					<ul id="infoList">
						
						<!----- SMART MIRROR ------> 
					    <li>
					        <div class="topic">
					        
						        <div class="align_divs">Smart Mirror</div>
									<div class="align_divs"><div class="onoffswitch">
									    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="mirror_checker" checked onchange="saveMirrorCheckbox()">
									    <label class="onoffswitch-label" for="mirror_checker">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div></div>
								<div style="clear:both"></div>
					        
					        </div>
					
					        <input type="checkbox" id ="mirror_triangle"/>
					
					        <div class="checkWrap"></div>   
					
					        <div class="mirrortext">
								<!-- Choose desired functionalities of the mirror -->	
								<div id = "mirror_functionalities" ng-controller="MirrorCheckboxController">
									<section id="mirror_id" class ="mirror">
										<div class="container" ng-repeat="setting in settings">
									 		<input type="checkbox" ng-attr-id="{{ setting.id }}" ng-model="checkedElements[setting.id]">
									 		<label ng-attr-for="{{ setting.id }}"><span class="checkbox">{{setting.name}}</span></label>
										</div>
										
									</section>

									
									<!--  Event types for personal schedule -->
									<div ng-hide="showEvents(checkedElements)" id="events">
									
										<p class="smaller" style ="padding-left:50px; ">Choose event types to be displayed:</p>
										
										<div class = "event container smaller" id="event_padding">

									 		<input type="checkbox" id="green">
									 		<label for="green"><span class="checkbox_green">Sports</span></label><br/>

									 		<input type="checkbox" id="red">
									 		<label for ="red"><span class="checkbox_red">University</span></label><br/>

									 		<input type="checkbox" id="yellow">
									 		<label for= "yellow"><span class="checkbox_yellow">Friends</span></label><br/>

									 		<input type="checkbox" id="blue">
									 		<label for ="blue"><span class="checkbox_blue">Other</span></label> <br/>

									    </div>
								    </div>
								    
								</div>
							</div>
					
					    </li>
					    
						<!----- SMART TV ------>
					    <li>
					
					        <div class="topic">
					        
								<div class="align_divs">Smart TV</div>
									<div class="align_divs"><div class="onoffswitch">
									    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tv_checker" checked>
									    <label class="onoffswitch-label" for="tv_checker">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div></div>
								<div style="clear:both"></div>
							        
					        </div>
					
					        <input type="checkbox" id = "tv_triangle"/>
					
					        <div class="checkWrap"></div>
					
					        <div class="tvtext"><!-- Choose desired functionalities of the smart TV -->	
								<div id = "tv_functionalities" ng-controller="TVCheckboxController">
									<section id="tv_id" class ="tv">
										<div class="container" ng-repeat="setting in settings">
									 		<input type="checkbox" ng-attr-id="{{ setting.id }}">
									 		<label ng-attr-for="{{ setting.id }}"><span class="checkbox" ng-attr-id="{{ setting.id }}">{{setting.name}}</span></label>
										</div>
									</section>
								</div>
							</div>
					
					    </li>
					
						<!----- SONOS BOX ------>
					    <li>
					
					        <div class="topic">
					        
						        <div class="align_divs">Sonos Box</div>
									<div class="align_divs"><div class="onoffswitch">
									    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="sonos_checker" checked>
									    <label class="onoffswitch-label" for="sonos_checker">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div></div>
								<div style="clear:both"></div>
					        
					        </div>
					
					        <input type="checkbox" id ="sonos_triangle" />
					
					        <div class="checkWrap"></div>   
					
					        <div class="sonostext">
					        
					        
						        <!-- Music file upload -->

								<div id ="files">
								<input type="file" id="input-file" /><output id="list"></output>
								</div>
								
								<!--   <button type="submit">Play</button> -->

					        
					        </div>
					
					    </li>
					
					</ul>

			
			  </div>
			    
		</div>
</div>

<!------------      END HTML      ------------->
	
	
	
	
<!------------ START JAVA SCRIPT  ------------->
<script type="text/javascript" src="app/Google_Data.js"></script>
<script type="text/javascript">

function onSignIn2(googleUser) {
	
	var profile = googleUser.getBasicProfile();
	var id_token = googleUser.getAuthResponse().id_token;
	var storage = new function () {
		/* --------- Private Properties --------- */
		/* --------- Private Methods --------- */

	function linearize () {
		var string = "", name, value;
		for (name in dataContainer) {
			value = encodeURIComponent(dataContainer[name]);
			name = encodeURIComponent(name);
			string += name + "=" + value + "&";
		}
		if (string != "") {
			string = string.substring(0, string.length - 1);
		}
		return string;
	}

	function read () {
		if (window.name == '' || window.name.indexOf("=") == -1) {
			return;
		}
		var pairs = window.name.split("&");
		var pair, name, value;
		for (var i = 0; i < pairs.length; i++) {
			if (pairs[i] == "") {
				continue;
			}
			pair = pairs[i].split("=");
			name = decodeURIComponent(pair[0]);
			value = decodeURIComponent(pair[1]);
			dataContainer[name] = value;
		}
	}

	function write () {
		window.name = linearize();
	}
    var dataContainer = {};
	this.set = function (name, value) {
	dataContainer[name] = value;
	write();
	};
	}
	window.sessionStorage.setItem('ID', profile.getId());
	//src.main.java.de.iolite.apps.example.Quickstart.getid(id_token);
	storage.set("token", id_token);
	//return 
	storage.set( "ID", profile.getId());
	
}


</script>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">


/* Event Handling: Hide/Show Checkboxes if User Enables/Disables different devices
 */
 
function saveMirrorCheckbox(){
	  
	  console.log("Aktueller Mirror Status:" + " " + $('#mirror_checker').is(':checked'));

		    ModelAPIProfiles.get(ModelAPIProfiles.storageId, {
		        success: function(storageAPI) {
		          storageAPI.action({
		            request: new ActionRequest(null, null, ".", "saveString", [new ValueParameter("Mirror"), new ValueParameter($('#mirror_checker').is(':checked'))]),
		            success: function() {
		              console.log('Successfully executed requestValueUpdate');
		            },
		            error: function(storageAPI, responseRequestID, responseErrorCode, responseError) {
		              console.log("Requesting value update of ", device, " failed due to ",
		                responseErrorCode, ": ", responseError);
		            }
		          });
		         }
		        });


		      console.log(form.name.value);
		    
	  
}



$(document).ready(function () {
	
	
/* 	  ModelAPIProfiles.get(ModelAPIProfiles.storageId, {
	      success: function(storageAPI) {
	        console.log("Test: get function 1 success");
	        storageAPI.action({
	          request: new ActionRequest(null, null, ".", "loadString", [new ValueParameter("mirror_checker")]),
	          success: function(mirror_state) {
	            console.log('Mirror State: '+mirror_state);
	              $(document).ready(function() {
					  console.log("document ready" + mirror_state);
	              });
	          },
	          error: function(storageAPI, responseRequestID, responseErrorCode, responseError) {
	        	  console.log("fail");
	            console.log("Requesting value update of ", device, " failed due to ",
	              responseErrorCode, ": ", responseError);
	          }
	        });

	      }
	 }); */
	  
	  
	  
	  
	  

/* 	  function loadUserName() {
	    ModelAPIProfiles.get(ModelAPIProfiles.storageId, {
	        success: function(storageAPI) {
	          console.log("Test: get function 1 success");
	          storageAPI.action({
	            request: new ActionRequest(null, null, ".", "loadString", [new ValueParameter("uName")]),
	            success: function(username) {
	              console.info('Username: '+username);
	                $(document).ready(function() {
	                  $('#name').attr('value', username);
	                });
	            },
	            error: function(storageAPI, responseRequestID, responseErrorCode, responseError) {
	              console.error("Requesting value update of ", device, " failed due to ",
	                responseErrorCode, ": ", responseError);
	            }
	          });

	        }
	   });


	    console.log(form.name.value);
	  } */




	  
	  $('#mirror_checker').click(function(){		
			
		   /* user is not able to unfold mirror functionalities if this device is "disabled" */
		   //$('#mirror_triangle').attr('disabled',!this.checked)

			 var $this = $(this);
		     if ($this.is(':checked')) {
		    	 $( "#mirror_triangle" ).prop( "checked", true );
		     } else {
		    	 /* uncheck the triangle checkbox*/
		    	 $( "#mirror_triangle" ).prop( "checked", false );
		     }
		});	  
	
	
});	


	
$(document).ready(function () {	
	$('#tv_checker').click(function(){
		   
		   	 var $this = $(this);
		     if ($this.is(':checked')) {
		    	 $( "#tv_triangle" ).prop( "checked", true );
		     } else {
		    	 /* uncheck the triangle checkbox*/
		    	 $( "#tv_triangle" ).prop( "checked", false );
		     }
		});
});	
	
$(document).ready(function () {	
	$('#sonos_checker').click(function(){
		   
		   	 var $this = $(this);
		     if ($this.is(':checked')) {
		    	 $( "#sonos_triangle" ).prop( "checked", true );
		     } else {
		    	 /* uncheck the triangle checkbox*/
		    	 $( "#sonos_triangle" ).prop( "checked", false );
		     }
		});
});


// If user wants to see his personal schedule on the mirror, the desired event types have to be selected
$('#sonos_checker').change(function(){
	  if($(this).prop("checked")) {
	    $('#events').show();
	  } else {
	    $('#events').hide();
	  }
	});
 




/* Navigation TAB - Selection handling*/
function openTab(evt, tabName) {
	  var i, x, tablinks;
	  x = document.getElementsByClassName("city");
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablink");
	  for (i = 0; i < x.length; i++) {
	     tablinks[i].className = tablinks[i].className.replace("w3-border-purple","");
	  }
	  document.getElementById(tabName).style.display = "block";
	  evt.currentTarget.firstElementChild.className += " w3-border-purple";
}

/* Google Login */
function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    window.sessionStorage.setItem('ID', profile.getId());
    console.log('Full Name: ' + profile.getName());
    window.sessionStorage.setItem('Full Name: ', profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    window.sessionStorage.setItem('Given Name: ', profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    window.sessionStorage.setItem('Family Name: ', profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    window.sessionStorage.setItem("Image URL: ", profile.getImageUrl());
    console.log("Email: " + profile.getEmail());
    window.sessionStorage.setItem("Email: ", profile.getEmail());
    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);  
    window.sessionStorage.setItem("ID Token: ", id_token);
    
    var xhr = new XMLHttpRequest();
    xhr.open('Get', 'http://localhost:35729/example-app/src/main/resources/assets/content.tpl.html');
    xhr.setRequestHeader('Content-Type', 'txt');
    xhr.onreadystatechange = function() {
    xhr.send(id_token);
    new Quickstart(id_token);
    };
    
    return id_token;
  };
  
  
/* Music Upload - ReadOut */ 
function musicupload(evt) {
		var files = evt.target.files; // FileList object
		//Declare Array Objekts called "output" to save properties
		var output = [];
		//loop, that adds name of chosen file to the array in every iteration
		for (var i = 0, f; f = files[i]; i++) {
			output.push('<li><strong>', f.name, ' </li>');
		}
		//access output panel, create unsorted list and readout the array from above
		document.getElementById('list')
			.innerHTML = '<ul>' + output.join('') + '</ul>';
	}
	//if new input, new call of function
document.getElementById('files')
	.addEventListener('change', musicupload, false);  
	
	
/* Music Upload Button - Change Style*/	
$('#input-file').before('<input type="button" id="button-file" value="Upload File" />');
$('#input-file').hide();
$('body').on('click', '#button-file', function() { 
    $('#input-file').trigger('click');    
});



function CheckboxState(){
	
	  var msg = $('#mirror_checker').is(':checked');
	  console.log("Test");

	  ModelAPIProfiles.get(ModelAPIProfiles.storageId, {
	      success: function(storageAPI) {
	        console.log("Test: get function 1 success");
	        storageAPI.action({
	          request: new ActionRequest(null, null, ".", "loadString", [new ValueParameter("uName")]),
	          success: function(username) {
	            console.info('Username: '+username);
	              $(document).ready(function() {
					  msg += '<div class="uName">' + $('#name').attr('value') + '</div>';
	              });
	          },
	          error: function(storageAPI, responseRequestID, responseErrorCode, responseError) {
	            console.error("Requesting value update of ", device, " failed due to ",
	              responseErrorCode, ": ", responseError);
	          }
	        });

	      }
	 });

	  $('#testdiv').html(msg);
	}




</script>	

<!--  <form method="get" action="GoHandler" onsubmit="return onSignIn(googleUser)"></form> -->


</body>
</html>
	
