<html lang="en">

   <head>
     <meta name="google-signin-scope" content="profile email">
     <meta name="google-signin-client_id" content="816369265139-0lmlpb4njr826utb58ic5r0g5atkl7li.apps.googleusercontent.com">
     <script src="https://apis.google.com/js/platform.js" async defer></script>
   </head>
   
<body>

<div>
	<div>
	
		<!----- TAB NAVIGATION BAR ------> 
	
		  <div class="w3-row" style="margin-top: 50px; margin-bottom: 30px;">
		  	<a href="javascript:void(0)" onclick="openTab(event, 'User');">
		      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-purple">User Login</div>
		    </a>
		    <a href="javascript:void(0)" onclick="openTab(event, 'Devices');">
		      <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Device Functionalities</div>
		    </a>
	
		  </div>


			  <!----- User-Information TAB ------> 
	
			  <div id="User" class="w3-container city" >
				
				<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
		
			  
					<!--  Login Window 
					<form action="action_page.php">
					     <div class="form_container">
					       <label>Google E-Mail</label>
					       <input type="text" placeholder="Enter E-Mail Address" name="email" required>
					    
					       <label>Password</label>
					       <input type="password" placeholder="Enter Password" name="pw" required>
					       
					       <input type="checkbox" id = "remember_me" checked="checked"><span class="checkbox">Remember me</span>    
					       <button type="submit">Login</button>
					     </div>
					</form>
					-->
		
			  </div>


	 		  <!----- Devices TAB ------> 
	
			  <div id="Devices" class="w3-container city" style="display:none">
		
					<ul id="infoList">
						
						<!----- SMART MIRROR ------> 
					    <li>
					        <div class="topic">
					        
						        <div class="align_divs">Smart Mirror</div>
									<div class="align_divs"><div class="onoffswitch">
									    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="mirror_checker" checked>
									    <label class="onoffswitch-label" for="mirror_checker">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div></div>
								<div style="clear:both"></div>
					        
					        </div>
					
					        <input type="checkbox" id ="mirror_triangle"/>
					
					        <div class="checkWrap"></div>   
					
					        <div class="mirrortext">
								<!-- Choose desired functionalities of the mirror -->	
								<div id = "mirror_functionalities" ng-controller="MirrorCheckboxController">
									<section id="mirror_id" class ="mirror">
										<div class="container" ng-repeat="setting in settings">
									 		<input type="checkbox" ng-attr-id="{{ setting.id }}">
									 		<label ng-attr-for="{{ setting.id }}"><span class="checkbox">{{setting.name}}</span></label>
										</div>
									</section>
								</div>
							</div>
					
					    </li>
					    
						<!----- SMART TV ------>
					    <li>
					
					        <div class="topic">
					        
								<div class="align_divs">Smart TV</div>
									<div class="align_divs"><div class="onoffswitch">
									    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="tv_checker" checked>
									    <label class="onoffswitch-label" for="tv_checker">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div></div>
								<div style="clear:both"></div>
							        
					        </div>
					
					        <input type="checkbox" id = "tv_triangle"/>
					
					        <div class="checkWrap"></div>
					
					        <div class="tvtext"><!-- Choose desired functionalities of the smart TV -->	
								<div id = "tv_functionalities" ng-controller="TVCheckboxController">
									<section id="tv_id" class ="tv">
										<div class="container" ng-repeat="setting in settings">
									 		<input type="checkbox" ng-attr-id="{{ setting.id }}">
									 		<label ng-attr-for="{{ setting.id }}"><span class="checkbox">{{setting.name}}</span></label>
										</div>
									</section>
								</div>
							</div>
					
					    </li>
					
						<!----- SONOS BOX ------>
					    <li>
					
					        <div class="topic">
					        
						        <div class="align_divs">Sonos Box</div>
									<div class="align_divs"><div class="onoffswitch">
									    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="sonos_checker" checked>
									    <label class="onoffswitch-label" for="sonos_checker">
									        <span class="onoffswitch-inner"></span>
									        <span class="onoffswitch-switch"></span>
									    </label>
									</div></div>
								<div style="clear:both"></div>
					        
					        </div>
					
					        <input type="checkbox" id ="sonos_triangle" />
					
					        <div class="checkWrap"></div>   
					
					        <div class="sonostext">
					        
					        
						        <!-- Music file upload -->

								<div id ="files">
								<input type="file" id="input-file" /><output id="list"></output>
								</div>

					        
					        </div>
					
					    </li>
					
					</ul>
					
		 	  <!--  Button to save current state of checkboxes for the next session -->

			  
			
			  </div>
			    
		</div>
</div>

<!------------      END HTML      ------------->
	
	
	
	
<!------------ START JAVA SCRIPT  ------------->
<script type="text/javascript" src="app/Google_Data.js"></script>
<script type="text/javascript">

function onSignIn(googleUser) {
	
	var profile = googleUser.getBasicProfile();
	var id_token = googleUser.getAuthResponse().id_token;
	var storage = new function () {
		/* --------- Private Properties --------- */
		/* --------- Private Methods --------- */

	function linearize () {
		var string = "", name, value;
		for (name in dataContainer) {
			value = encodeURIComponent(dataContainer[name]);
			name = encodeURIComponent(name);
			string += name + "=" + value + "&";
		}
		if (string != "") {
			string = string.substring(0, string.length - 1);
		}
		return string;
	}

	function read () {
		if (window.name == '' || window.name.indexOf("=") == -1) {
			return;
		}
		var pairs = window.name.split("&");
		var pair, name, value;
		for (var i = 0; i < pairs.length; i++) {
			if (pairs[i] == "") {
				continue;
			}
			pair = pairs[i].split("=");
			name = decodeURIComponent(pair[0]);
			value = decodeURIComponent(pair[1]);
			dataContainer[name] = value;
		}
	}

	function write () {
		window.name = linearize();
	}
    var dataContainer = {};
	this.set = function (name, value) {
	dataContainer[name] = value;
	write();
	};
	}
	storage.set("token", id_token);
	storage.set( "ID", profile.getId());
	//location.href = "window-name-empfaenger.html";
}


</script>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">


/* If a device is "disabled", the user shouldn't be able to unfold the different functionalities 
 * If the functionalities for a device are unfolded, but then it will be "disabled", the functionalities will be folded
 */

$(document).ready(function () {
	$('#mirror_checker').click(function(){
		   /* user is not able to unfold mirror functionalities if this device is "disabled" */
		   $('#mirror_triangle').attr('disabled',!this.checked)

			 var $this = $(this);
		     if ($this.is(':checked')) {
		    	/* do nothing */ 
		     } else {
		    	 /* uncheck the triangle checkbox*/
		    	 $( "#mirror_triangle" ).prop( "checked", false );
		     }
		});
});	
	
$(document).ready(function () {	
	$('#tv_checker').click(function(){
			/* user is not able to unfold tv functionalities if this device is "disabled" */
		   $('#tv_triangle').attr('disabled',!this.checked)
		   
		   	 var $this = $(this);
		     if ($this.is(':checked')) {
		    	/* do nothing */ 
		     } else {
		    	 /* uncheck the triangle checkbox*/
		    	 $( "#tv_triangle" ).prop( "checked", false );
		     }
		});
});	
	
$(document).ready(function () {	
	$('#sonos_checker').click(function(){
		   /* user is not able to unfold sonos functionalities if this device is "disabled" */
		   $('#sonos_triangle').attr('disabled',!this.checked)
		   
		   	 var $this = $(this);
		     if ($this.is(':checked')) {
		    	/* do nothing */ 
		     } else {
		    	 /* uncheck the triangle checkbox*/
		    	 $( "#sonos_triangle" ).prop( "checked", false );
		     }
		});
});
 




/* Navigation TAB - Selection handling*/
function openTab(evt, tabName) {
	  var i, x, tablinks;
	  x = document.getElementsByClassName("city");
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablink");
	  for (i = 0; i < x.length; i++) {
	     tablinks[i].className = tablinks[i].className.replace("w3-border-purple","");
	  }
	  document.getElementById(tabName).style.display = "block";
	  evt.currentTarget.firstElementChild.className += " w3-border-purple";
}

/* Google Login */
function onSignIn2(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    console.log('Full Name: ' + profile.getName());
    console.log('Given Name: ' + profile.getGivenName());
    console.log('Family Name: ' + profile.getFamilyName());
    console.log("Image URL: " + profile.getImageUrl());
    console.log("Email: " + profile.getEmail());

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);  
  };

  
/* Music Upload - ReadOut */ 
function musicupload(evt) {
		var files = evt.target.files; // FileList object
		//Declare Array Objekts called "output" to save properties
		var output = [];
		//loop, that adds name of chosen file to the array in every iteration
		for (var i = 0, f; f = files[i]; i++) {
			output.push('<li><strong>', f.name, ' </li>');
		}
		//access output panel, create unsorted list and readout the array from above
		document.getElementById('list')
			.innerHTML = '<ul>' + output.join('') + '</ul>';
	}
	//if new input, new call of function
document.getElementById('files')
	.addEventListener('change', musicupload, false);  
	
	
/* Music Upload Button - Change Style*/	
$('#input-file').before('<input type="button" id="button-file" value="Upload File" />');
$('#input-file').hide();
$('body').on('click', '#button-file', function() { 
    $('#input-file').trigger('click');    
});
</script>	

</body>
</html>
	
